:root {
  /* Colors are added via App.svelte */
  --borderRadius: 4px;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  background: var(--white);
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, sans-serif;
  height: 1vh;
  letter-spacing: -.25px;
  margin: 10px 0 0;
}
